.container-product {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main";
    grid-template-rows: auto 1fr;
    grid-template-columns: 380px 1fr;
    height: 100%;
    padding: 10px;
    gap: 3px;
}

/* HEADER PRODUCT */
.header-ticket {
    grid-area: header;
    background: #212121;
    padding: 8px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 55px;
    display: flex;
    justify-content: start;
}

.header-ticket ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-ticket ul li {
    margin: auto 5px;
    font-size: 20px;
    font-weight: 600;
}

hr {
    border: solid #ffffff12 1px;
}

.sidebar {
    grid-area: sidebar;
    background: #212121;
    border-radius: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.209);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.gallery-product {
    height: 100%;
}

.test {
    background: rgb(52, 51, 51);
}

.sidebar .title {
    background: #181818;
    padding: 2px 15px;
    border-radius: 4px 4px 0px 0px;
    margin: 0;
    font-size: 15px;
    font-weight: 800;
}

.sidebar .card-product {
    padding: 2px 15px;
    margin: 10px auto;
}

.sidebar .card-product small {
    font-size: 13px;
}

.sidebar .card-product h3 {
    font-size: 16px;
    font-weight: 600;
}

.sidebar .card-product p {
    font-size: 12px;
}