.container-create-ticket {
    padding: 15px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    
}

.container-content{
    overflow-y: auto;
}

.main-ticket {
    max-width: 100%;
    margin: 20px;
    border: solid 1px #f3f3f316;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.209);
    padding: 20px;
    flex-grow: 1;
}

.accordion-h {
    color: #FFFFFF;
}

.gallery-select {
    padding: 30px;
    display: grid;
    gap: 10px;
}

@media (min-width: 991px) {
    .gallery-select {
        grid-template-columns: repeat(2, 1fr);
    }
}


/*Estilos para el componente select*/
.custom-select-container {
    position: relative;
    width: 85%;
    font-size: 18px;
}

.select-label {
    color: #fff;
    font-size: 15px;
    padding: 8px;
}

.selected-item {
    border: solid 1px #55555567;
    border-radius: 6px;
    color: #e0e0e0;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #131313;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-item:hover {
    background-color: #191919;
}

.dropdown-arrow {
    transition: transform 0.3s ease;
    color: #bbb;
}

.dropdown-arrow.open {
    transform: rotate(180deg);
}

.options-list {
    position: absolute;
    top: calc(100% + 5px);
    /* Un poco de espacio entre el selector y el menú */
    left: 0;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #191919;
    /* Fondo del menú desplegable */
    border: solid 1px #555555;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    z-index: 10;
    overflow-y: auto;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.2s ease-out, opacity 0.3s ease-out;
}

.options-list.open {
    max-height: 200px;
    opacity: 1;
}

.options-list li {
    padding: 12px 15px;
    color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.options-list li:hover {
    background-color: #232323;
}